<% layout("/layout/boilerplate.ejs") %>

<div style="color: black;" class="offset-3">
  <br><br><br><br><br>
  <form action="/register" method="POST" class="row g-3 needs-validation border login" novalidate>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" name="password" required>
      <div id="emailHelp" class="form-text">We'll never share your password.</div>
    </div>
    <div>
      <button class="btn" style="background-color: rgb(41, 43, 145);" type="submit">SignUp</button>
      &nbsp;
      <span>Already have an account? <a href="/login"><i>Login</i></a></span>
      <br><br><br>
    </div>
  </form>
</div>